#site-nav {
  display: flex;
  justify-content: space-between;

  padding: 0.5rem;

  color: var(--color-text);
  font-size: clamp(1.3rem, 2.5vw, 1.75rem);

  background-color: var(--color-navbar);
  border-bottom: 0.2rem solid var(--color-border);
}

nav svg {
  width: 0.7em;
  height: 0.7em;
  display: block;
}

#nav-name {
  display: flex;
  align-items: center;
}

#nav-name:hover,
#nav-name:focus-visible {
  transform: scale(1.02);
}

#nav-options {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#nav-options .nav-link {
  color: var(--color-text);
}

.user-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  width: 1.3em;
  height: 1.3em;

  font-size: 0.8em;

  background-color: var(--color-surface);
  border: 2px solid var(--color-border);

  transition: background-color 150ms ease;
}

.user-icon:hover,
.user-icon:focus-visible {
  background-color: var(--color-navbar);
}

.user-icon:active {
  border-color: var(--color-surface);
}

.dropdown-content p {
  font-size: clamp(0.8rem, 1vw, 1rem);
  color: var(--color-text-muted);
}

.dropdown-content a {
  font-size: clamp(1rem, 2vw, 1.2rem);
}

.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  top: calc(100% + 0.25rem);
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;

  border: 2px solid var(--color-border);
  border-radius: 0.25;
  background-color: var(--color-surface);
  padding: 0.5rem;

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.716);

  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition:
    opacity 300ms ease-in-out,
    transform 300ms ease-in-out;
}

.dropdown[open] .dropdown-content {
  transform: translateY(0);
  pointer-events: all;
  opacity: 1;
}
